.container {
  padding: 0 2rem;
  background-color: rgb(125, 253, 253);
}

.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}


@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
.mainnav ul{
  display: flex;
  justify-content: center;
  margin: 0%;
  padding: 20px;
  

}
.mainnav ul li{
  font-weight: bold;
  margin: 20px 40px;
  list-style: none;
}
.mainnav{
  background-color: rgb(254, 163, 242);
  max-height: 100px;
}

.mainnav ul li:hover{
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px 40px;
  list-style: none;
}
